<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"  
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
	   xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"  default-lazy-init="true">
	<!-- service -->
	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
	<!--题库WebService-->
    <!-- <bean id="topicCenter" class="com.thinkgem.jeesite.modules.topiccenter.service.TopicCenterServiceImpl" /> -->
    <!-- <jaxws:endpoint id="topicCenterService" implementor="#topicCenter" address="/topicCenterService" /> -->
	<!-- 自动扫描 -->
    <context:component-scan base-package="com.mycxf.webservice" />
	<!-- 定义服务提供者  -->
    <jaxws:endpoint
        implementor="#helloWorld"
        address="/helloWorld">
        <!-- 添加in拦截器 -->
        <jaxws:inInterceptors>
             <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
             <bean class="com.mycxf.interceptor.MyInterceptor"/>
        </jaxws:inInterceptors>
        <!-- 添加out拦截器 -->
        <jaxws:outInterceptors>
             <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
        </jaxws:outInterceptors>
     </jaxws:endpoint>

</beans>