
/* 通用列表样式 */
.input-medium[type="text"],.input-medium[type="password"]{
	padding:13px;
	margin:auto auto;
}
.container{
	width:95%;
}
form {
    margin: 0 0 10px;
}
#searchForm table:nth-child(1) td{
	padding: 0 5px;
}
.nav>li>a:hover, .nav>li>a:focus {
	cursor: pointer;
}
.pagination ul>li>a:hover, .pagination ul>li>span:hover{
	cursor: pointer;
}
.selected{
	background-color: #f5f5f5 !important;
}
/* 所有表格偶数行浅灰色 */
tr:nth-child(even){
    background-color: #f9f9f9;
}
.pagination input{
	height:20px !important;
	width:40px;
	margin:0 5px !important;
	
}
.pagination li div{
	display:inline;
	position:absolute;
	margin-left: 5px;
	margin-top:5px;
}
.pagination ul:nth-child(2){
	display:inline;
}
.form-horizontal .control-label{
	width:130px;
}
.form-horizontal .controls {
    margin-left: 160px;
}
/* .linkbtn:hover{
	background-color: #F4F4F4;
	border: #95B8E7 solid 1px;
	border-radius: 3px;
	padding:3px;
}
.linkbtn:active{
	color:blue;
}
.linkbtn{
	border: #E0ECFF solid 1px;
	text-decoration: none;
	padding:3px;
} */